{{!-- CONTENU APPLICATION.HBS --}}
{{!-- {{outlet}} --}}

<h1>About Triptyk</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, voluptates ad rem nostrum sapiente dolor tenetur aliquam, ipsa culpa harum nihil, explicabo autem. In quo fugiat rerum qui laudantium itaque.</p>