<h1>Home page : Index.hbs</h1>

{{!-- CONTENU DE LA PAGE APPLICATION.HBS --}}
{{outlet}}

{{!-- CONTENU DE LA PAGE INDEX.HBS ICI --}}
{{!-- ... --}}

{{!-- CLOCK-TIMER --}}
{{clock-timer value="20" finishedValue="Gogogogoo"}}
